<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="/js/home.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    
</head>
<body>
    <div class="layout">
    <div class="header">
    <h1>Global Connect</h1>
    <a href="/login" id="button">logout</a>
    <div>
    <div class="Menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/vendor">Vendor</a></li>
            <li><a href="/user">User</a></li>
            <li><a href="/product">Product</a></li>
            <li><a href="/ad">Ad</a></li>
            <li><a href="/tickets">Tickets</a></li>
        </ul>
    </div>
    </div>
    
</body>
</html>