<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <script src="/js/jquery-3.6.1.js"></script>
    <link rel="stylesheet" href="/css/product.css">
    <script src="/js/product.js"></script>
</head>
<body>
    <div class="header">
    <h1>Global Connect</h1>
    <a href="/login" class="button">Logout</a>
    </div>
    <nav>
    <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/vendor">Vendor</a></li>
            <li><a href="#">User</a></li>
            <li><a href="/product">Product</a></li>
            <li><a href="/ad">Ad</a></li>
        </ul>    
    </nav>
        <label>Search user</label>
        <input type="index">
        <br>
        <br>
        <div>
        <button>Add</button>
        <button>Edit</button>
        <button>Delete</button>
        </div>
        <br>
    <table>

        <thead>
            <tr>
                <th>Name</th>
                <th>Vendor Name</th>
                <th>Quantity Available</th>
                <th>Revenue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Book</td>
                <td>Vendor1</td>
                <td>50</td>
                <td>5,000</td>
            </tr>
            <tr>
                <td>Bag</td>
                <td>Vendor2</td>
                <td>60</td>
                <td>6,000</td>
            </tr>
            <tr>
                <td>Pencil</td>
                <td>Vendor3</td>
                <td>20</td>
                <td>2,000</td>
            </tr>
            <tr>
                <td>Pen</td>
                <td>Vendor4</td>
                <td>30</td>
                <td>3,000</td>
            </tr>
        </tbody>
    </table>
        <button>Prev</button>
        <button>Next</button>
    </form>
    
</body>
</html>